body{

    background: url('../img/background.jpg');
    background-size: cover;
    font-family: 'Architects Daughter', cursive;

}

.input-field input:focus + label {
    color: rgb(57, 209, 255) !important;
}
  /* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid rgb(57, 209, 255) !important;
    box-shadow: 0 1px 0 0 rgb(57, 209, 255) !important;
}

.letra-oscura input:focus + label {
    color: rgb(76, 159, 187) !important;
}
  /* label underline focus color */
.letra-oscura input:focus {
    border-bottom: 1px solid rgb(76, 159, 187) !important;
    box-shadow: 0 1px 0 0 rgb(76, 159, 187) !important;
    
    
}

.letra-oscura input{

    font-size: 20px !important;
    color:rgb(48, 106, 126);
    border-bottom: 1px solid rgb(48, 106, 126) !important;

    font-family: 'Architects Daughter', cursive;

}

.letra-oscura label{

    font-size: 16px;
    color: rgb(48, 106, 126);

}

.letra-oscura button:hover{

    background: rgba(68, 176, 209, 0.904);

}

.letra-oscura h6{

    color:rgb(48, 106, 126);

}




.login{  
    
    margin-top: 35px;

}


 .login .card{

    background: rgba(68, 68, 68, 0.664);
    border-radius: 10px;

}

.login label{

    font-size: 16px;
    color: rgb(218, 218, 218);

}

.card-action{

    border-radius: 10px;
}

.login input{

    font-size: 20px !important;
    color:rgb(218, 218, 218);
    font-family: 'Architects Daughter', cursive;
}

.login button:hover{

    background: rgba(68, 176, 209, 0.904);

}

.error .card{

    background: rgba(199, 199, 199, 0.664);
    border-radius: 10px;
    margin-top: 70px;
    padding: 30px;

}



.btn{

    margin-top: 40px;
    background-color: royalblue;
    

}




.card-action img{

    width: 250px;

}

.card-content h4{

    margin-bottom: 50px;
    color: rgb(218, 218, 218);

}

.card-content img{

    width: 190px;

}



.card-errors{

    display: grid;
    grid-template-columns: 1fr;
    background: rgba(17, 16, 16, 0.425);

    align-items: center;
    
    border-radius: 10px;

}


.btn-large{

    margin-top: 30px;

    border-radius: 6px;
    background: rgba(73, 140, 161, 0.863);
    

}

.btn-floating{

    background: rgba(73, 140, 161, 0.863);

}

button{

    font-family: 'Architects Daughter', cursive;

}

.nav-wrapper img{

    width: 110px;
    margin-top: 8px;
    margin-left: 140px;
   
    
}

.card-panel{

    border-radius: 10px;
    background: rgba(182, 182, 182, 0.651);

}

.sidenav{

    background: rgba(105, 105, 105, 0.836);
    

}

.border{

    border: 1px solid black;

}

.back{


    background: rgba(124, 124, 124, 0.616);

}

tr td p {
  margin-top: 0px;
  margin-bottom: 0px; 
  padding: 5px; 
}

.collection .collection-item {
    background-color: rgba(124, 124, 124, 0.616);
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid rgb(48, 106, 126);
    color: rgb(48, 106, 126);
}

.collection {

    border: 1px solid rgb(48, 106, 126);

}




