body{

    background: url('../img/background.jpg');
    background-size: cover;
    font-family: 'Architects Daughter', cursive;

}

.input-field input:focus + label {
    color: rgba(68, 176, 209, 0.904) !important;
}
  /* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid rgba(68, 176, 209, 0.904) !important;
    box-shadow: 0 1px 0 0 rgba(68, 176, 209, 0.904) !important;
}




.login{  
    
    margin-top: 35px;

}


 .login .card{

    background: rgba(71, 71, 71, 0.664);
    border-radius: 10px;

}

.login label{

    font-size: 16px;
    color: rgb(218, 218, 218);

}

.card-action{

    border-radius: 10px;
}

.login input{

    font-size: 20px !important;
    color:rgb(218, 218, 218);
    font-family: 'Architects Daughter', cursive;
}

.login button:hover{

    padding: 0px 30px;
    background: rgba(68, 176, 209, 0.904);

}

.error .card{

    background: rgba(199, 199, 199, 0.664);
    border-radius: 10px;
    margin-top: 70px;
    padding: 30px;

}



.btn{

    margin-top: 40px;
    background-color: royalblue;
    

}




.card-action img{

    width: 250px;

}

.card-content h4{

    margin-bottom: 50px;
    color: rgb(218, 218, 218);

}

.card-content img{

    width: 190px;

}



.card-errors{

    display: grid;
    grid-template-columns: 1fr;
    background: rgba(17, 16, 16, 0.425);

    align-items: center;
    
    border-radius: 10px;

}

.btn-large{

    margin-top: 30px;

    border-radius: 6px;
    background: rgba(73, 140, 161, 0.863);
    

}

button{

    font-family: 'Architects Daughter', cursive;

}

.nav-wrapper img{

    width: 110px;
    margin-top: 8px;
    margin-left: 140px;
   
    
}


